main {

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 60%;
    max-width: 1200px;
}

.haku input {
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 1.5rem;
}

.haku input:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0.1);
}

.filter-form {
    background-color: #ebfffd;
    width: 100%;
    padding: 1rem;
    align-items: center;
    margin-top: 1rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.filter-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
}

.filter-opt {
    background-color: #ffffff;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 15%;
}

input[type="date"] {
    padding: 10px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 20%;
}

button {
    color: #026873;
    background-color: #ebfffd;
    border: none;
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

button:hover {
    background-color: #044f53;
    color: #ffffff;
}

.table-wrapper {
    margin-top: 1rem;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 12px;
}

.class-item {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.class-item:hover {
    background-color: #c7f0ef;
    transform: translateY(-3px);
}

.class-item h3 {
    margin: 0;
    color: #026873;
    font-size: 1.2rem;
}

.class-item p {
    margin: 0.3rem 0;
    color: #333;
}

th {
    background-color: #d8f2f0;
    text-transform: uppercase;
}
td,
th {
    text-align: left;
    padding: 1rem;
    transition: 0.3s;
    border-radius: 5px;
}

td:hover {
    background-color: #c7f0ef;
}

td {
    background-color: #ffffff;
}

table {
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 1080px) {
    .main {
        width: 90%;
    }

    .filter-wrap {
        flex-direction: row;
    }

    select,
    input[type="date"] {
        width: 33%;
        margin-bottom: 1rem;
        padding: 1rem 0rem;
    }
}